<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * PH2M_Gdpr
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Gdpr
 * @copyright  Copyright (c) 2018 PH2M SARL
 * @author     PH2M SARL <contact@ph2m.com> : http://www.ph2m.com/
 *
 */

-->
<config>
    <modules>
        <PH2M_Gdpr>
            <version>1.0.1</version>
        </PH2M_Gdpr>
    </modules>
    <global>
        <helpers>
            <phgdpr>
                <class>PH2M_Gdpr_Helper</class>
            </phgdpr>
        </helpers>
        <blocks>
            <phgdpr>
                <class>PH2M_Gdpr_Block</class>
            </phgdpr>
        </blocks>
        <models>
            <customer>
                <rewrite>
                    <customer>PH2M_Gdpr_Model_Override_Customer_Customer</customer>
                </rewrite>
            </customer>
            <phgdpr>
                <class>PH2M_Gdpr_Model</class>
                <resourceModel>phgdpr_resource</resourceModel>
            </phgdpr>
            <phgdpr_resource>
                <class>PH2M_Gdpr_Model_Resource</class>
                <entities>
                    <queue>
                        <table>phgdpr_queue</table>
                    </queue>
                </entities>
            </phgdpr_resource>
        </models>
        <resources>
            <phgdpr_setup>
                <setup>
                    <module>PH2M_Gdpr</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </phgdpr_setup>
            <phgdpr_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </phgdpr_write>
            <phgdpr_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </phgdpr_read>
        </resources>
        <template>
            <email>
                <phgdpr_customer_data_remove_confirm_email_template translate="label" module="phgdpr">
                    <label>Customer remove data</label>
                    <file>ph/gdpr/customer_remove_confirm.html</file>
                    <type>html</type>
                </phgdpr_customer_data_remove_confirm_email_template>
                <phgdpr_customer_data_download_email_template translate="label" module="phgdpr">
                    <label>Customer download data</label>
                    <file>ph/gdpr/customer_data_download.html</file>
                    <type>html</type>
                </phgdpr_customer_data_download_email_template>
            </email>
        </template>
    </global>
    <crontab>
        <jobs>
            <phgdpr_check_rules>
                <run>
                    <model>phgdpr/observer::checkRulesValidity</model>
                </run>
            </phgdpr_check_rules>
            <phgdpr_queue_runner>
                <run>
                    <model>phgdpr/observer::runQueueRunner</model>
                </run>
            </phgdpr_queue_runner>
        </jobs>
    </crontab>
    <frontend>
        <layout>
            <updates>
                <ph2m_phgdpr>
                    <file>ph/gdpr.xml</file>
                </ph2m_phgdpr>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_customer_account_loginpost>
                <observers>
                    <ph2m_phgdpr_limit_login_attempts>
                        <type>singleton</type>
                        <class>phgdpr/observer</class>
                        <method>limitLoginAttempts</method>
                    </ph2m_phgdpr_limit_login_attempts>
                </observers>
            </controller_action_predispatch_customer_account_loginpost>
            <customer_customer_authenticated>
                <observers>
                    <ph2m_phgdpr_check_if_account_is_lock>
                        <type>singleton</type>
                        <class>phgdpr/observer</class>
                        <method>checkIfAccountIsLock</method>
                    </ph2m_phgdpr_check_if_account_is_lock>
                </observers>
            </customer_customer_authenticated>
        </events>
        <routers>
            <phgdpr>
                <use>standard</use>
                <args>
                    <module>PH2M_Gdpr</module>
                    <frontName>phgdpr</frontName>
                </args>
            </phgdpr>
        </routers>
        <translate>
            <modules>
                <PH2M_Gdpr>
                    <files>
                        <default>PH2M_Gdpr.csv</default>
                    </files>
                </PH2M_Gdpr>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PH2M_Gdpr>
                    <files>
                        <default>PH2M_Gdpr.csv</default>
                    </files>
                </PH2M_Gdpr>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <phgdpr>
            <customer_data_remove>
                <confirm_email_template>phgdpr_customer_data_remove_confirm_email_template</confirm_email_template>
                <email_sender_identity>general</email_sender_identity>
                <lock_account_message><![CDATA[This account will be removed soon, during this process you can log to this account]]></lock_account_message>
            </customer_data_remove>
            <customer_data_download>
                <email_template>phgdpr_customer_data_download_email_template</email_template>
                <email_sender_identity>general</email_sender_identity>
                <queue_processing_message><![CDATA[We received your request, and we send you your data soon by email.]]></queue_processing_message>
            </customer_data_download>
        </phgdpr>
    </default>
</config>